<% if cookies[:saved_subscriber] %>
  Thanks for signing up!
<% else %>
  <h1>Signup for our newsletter here! </h1>
  <h3>We currently have <%= Subscriber.count %> subscribers. </h3>
  <%= form_for @subscriber do |f|  %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.select :source, ["Search Engine", "Social Media", "Word of Mouth", "Other"], prompt: "How did you hear about us?" %>
    <%= f.submit %> 
  <% end %>
<% end %>

